@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Inter Italic";
  src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-sora: Sora;
  --font-roboto: Roboto, "serif";
  --font-roboto-italic: "Roboto Italic", "serif";
  --font-inter: Inter, "sans-serif";
  --font-inter-italic: "Inter Italic", "sans-serif";

  --color-neutral-100: #F2F4F7;
  --color-neutral-300: #D0D5DD;
  --color-neutral-400: #98A2B3;
  --color-neutral-600: #475467;
  --color-neutral-800: #1D2939;

  --color-background: #101012;

  --breakpoint-xs: 30rem;

  --font-weight-regular: 400;
}

html,
body {

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  color: #F2F4F7;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

li {
  margin-bottom: 0;
}
